<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidGraphs"
        tools:targetApi="31">
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidGraphs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ai.engg.curves.x.y.examples.activities.LineExamples" />

        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SpiralExample1" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SpiralExample2" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SpiralExample3" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SpiralExample4" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SpiralExample5" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SpiralExample6" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SpiralExample7" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SpiralExample8" />

        <activity android:name="com.ai.engg.curves.x.y.examples.activities.ButterflyCurveExample" />

        <activity android:name="com.ai.engg.curves.x.y.examples.activities.AssembledBoxExample" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.FourBoxesAssembledExample" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.FourBoxesStackedExample" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.TestExBoxesExample" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.TwoNestedBoxesExample" />
        <activity
            android:name="com.ai.engg.curves.x.y.examples.activities.EightBoxesExample"
            android:exported="true" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.EightColoredBoxesExample" />

        <activity
            android:name="com.ai.engg.curves.x.y.examples.activities.SimpleIsometricExample1"
            android:exported="true" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SimpleIsometricExample2" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SimpleIsometricColorExample" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.EmptyComplexIsometricExample" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.ExComplexIsometricExample" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.ComplexIsometricExample" />

        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SimpleIsometricDiamond" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.ComplexIsometricDiamond" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.SimplePyramidDiamond" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.FilledPyramidDiamond1" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.FilledPyramidDiamond2" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.FilledPyramidDiamond3" />
        <activity android:name="com.ai.engg.curves.x.y.examples.activities.FilledDiamond" />

        <activity android:name="com.ai.engg.curves.x.y.examples.TheRing" />
        <activity android:name="com.ai.engg.curves.x.y.examples.CurveTest" />
        <activity android:name="com.ai.engg.curves.x.y.examples.OCirclesO" />
        <activity android:name="com.ai.engg.curves.x.y.examples.ParabolaHyperbolaEllipse" />
        <activity android:name="com.ai.engg.curves.x.y.examples.Protons" />
        <activity android:name="com.ai.engg.curves.x.y.examples.EllipsesWithCircle" />
        <activity android:name="com.ai.engg.curves.x.y.examples.SinCosTan" />

        <activity android:name="com.ai.engg.curves.x.y.examples.Planets" />
        <activity android:name="com.ai.engg.curves.x.y.examples.Uranus" />
    </application>

</manifest>